<div class="form-class mt-5">
  <h1 class="text-center">New Employee</h1>
  <br />
  <form (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="employeeName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" id="employeeName" class="form-control" placeholder="Name" />
      </div>
    </div>
    <div class="form-group row">
      <label for="Age" class="col-sm-2 col-form-label">Age</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="age" placeholder="Age" />
      </div>
    </div>
    <div class="form-group row">
      <label for="Email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Email" />
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Add</button>
      <div class="divider"></div>
      <button class="btn btn-info" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>